.button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 70px;
  top: calc(50% - 48px / 2);
  box-shadow: 0px 8px 16px rgba(8, 216, 153, 0.2);
  font-family: Manrope;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  &:hover {
    cursor: pointer;
  }
  &_label {
    &_connected {
      display: flex;
      align-items: center;
      gap: 9.18px;
    }
  }
}
