.button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 48px;
  right: 70px;
  top: calc(50% - 48px / 2);
  background: #08d899;
  box-shadow: 0px 8px 16px rgba(8, 216, 153, 0.2);
  border-radius: 8px;
  font-family: Manrope;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  &:hover {
    cursor: pointer;
  }
  &_label {
    color: white;
  }
}
