@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&family=Manrope:wght@200;400&display=swap");

@import "./vars.scss";

body {
  @import "../components/App/App.scss";
  margin: 0;
}
