.app {
  position: relative;
  background: #f0f5f5;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  @import "../Header/Header.scss";
  @import "../Footer/Footer.scss";
  @import "../Ellipse/Ellipse.scss";
}
