.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100px;
  width: 100%;
  border-bottom: 1px solid black;
  border-bottom: 1px solid #cdd2dd;
  backdrop-filter: blur(8px);
  z-index: 1;
  @import "../Button/Button.scss";
}
