.footer {
  display: flex;
  flex-direction: column;
  height: 221px;
  background-color: $bg_color;
  border-top: 1px solid #cdd2dd;
  color: $footer-fonts_color;
  z-index: $zindex;

  &_main {
    width: 100%;
    height: 159px;
    &_container {
      position: relative;
      display: flex;
      margin: 50px 70px 0;
      justify-content: center;
      &_links {
        color: #676767;
        top: -10px;
        left: 0;
        font-family: sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 26px;
      }

      &_socials {
        position: absolute;
        right: 0;
        display: flex;
        gap: 30px;
      }
    }
  }
  &_copyright {
    display: flex;
    justify-content: center;
    font-family: Inter;
  }
}

.footer-mobile {
  z-index: $zindex;
  display: none;
  align-items: center;
  gap: 30px;
  flex-direction: column;
  height: 356px;
  padding-top: 50px;
  background-color: $bg_color;
  color: $footer-fonts_color;
  box-sizing: border-box;
  .logo-mobile {
    margin-bottom: 30px;
    width: 120px;
    height: 20px;
  }
}

@media (max-width: 800px) {
  .footer {
    display: none;
  }
  .footer-mobile {
    display: flex;
  }
}
