.footer {
  display: flex;
  flex-direction: column;
  height: 221px;
  background-color: hsl(180, 20%, 95%);
  border-top: 1px solid #cdd2dd;
  color: rgb(153, 153, 153);
  z-index: 1;

  &_main {
    width: 100%;
    height: 159px;
    &_container {
      position: relative;
      display: flex;
      margin: 50px 70px 0;
      justify-content: center;
      &_links {
        color: #676767;
        position: absolute;
        top: -10px;
        left: 0;
        font-family: sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 26px;
      }

      &_socials {
        position: absolute;
        right: 0;
        display: flex;
        gap: 30px;
      }
    }
  }
  &_copyright {
    display: flex;
    justify-content: center;
    font-family: Inter;
  }
}
